<div class="layoutbox" style="text-align: center;">
<h2>Info</h2>
<i class="large material-icons">account_circle</i>
<P>Claes Jasper</P>
<i class="large material-icons">confirmation_number</i>
<P>R0746526</P>
<i class="large material-icons">email</i>
<P>r0746526@student.thomasmore.be</P>
<i class="large material-icons">school</i>
<P>3ITF A</P>
<i class="large material-icons">insert_chart</i>
<P>Angular</P>
<i class="large material-icons">check_circle</i>
<P>Login</P>
<P>Register</P>
<i class="large material-icons">remove_circle</i>
<P>Polls</P>
<P>Friends</P>

</div>
