<!--The content below is only a placeholder and can be replaced.-->
<!---- <nav>
<mat-sidenav-container class="nav-container">
<mat-sidenav mode="side" opened="true">
<mat-nav-list>
<a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
<a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">dashboard</a>
<a mat-list-item routerLink="/info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Info</a>
<a mat-list-item routerLink="/security" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Log In</a>


</mat-nav-list>
</mat-sidenav>








<mat-sidenav-content>
<router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
</nav> 
-->

<mat-toolbar color="warn">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">
          <img width="150%" src="/assets/img/logo.png">
        </mat-icon>
      </button>

     

      <span class="menu-spacer"></span>
      <div>
        <a style="font-size: 15pt;" mat-button routerLink="/home" >Home</a>
        <a style="font-size: 15pt;" mat-button routerLink="/info" >Info</a>
        <a style="font-size: 15pt; float: right;" mat-button routerLink="/security" >Log In</a>
  
      </div>
    </mat-toolbar-row>
  
   
  </mat-toolbar>
  
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" >home</a>
  
        <a mat-list-item routerLink="/dashboard" >dashboard</a>
        <a mat-list-item routerLink="/info" >Info</a>
        <a mat-list-item routerLink="/security" >Log In</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  
  
