<div class="layoutbox">


<form style="text-align: center;" #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>Fill in the form below</h2>
    <p>
            <input matInput placeholder="firstname" type="text"  [(ngModel)]="user.firstName" name="firstname" />
    </p>
    <p>
        <input matInput placeholder="lastname" type="text"  name="lastname" [(ngModel)]="user.lastName" />
    </p>
    <p>
        <input matInput placeholder="email" type="text"  name="email" [(ngModel)]="user.email" />
    </p>
    <p>
        <input matInput placeholder="username" type="text"  name="username" [(ngModel)]="user.username" />
    </p>
    <p>
        <input matInput placeholder="password" type="password"  name="password" [(ngModel)]="user.password"/>
    </p>


        <p><button mat-raised-button color="warn" type="submit"
            [disabled]="!registerForm.form.valid || submitted"  >Register</button>
        </p> 

        

    </form> 
    <p>
        Already have an account? <a routerLink="/security" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Go Back</a>
    </p>
</div>